@import url('https://fonts.googleapis.com/css?family=Roboto');

a:link,
a:visited,
a:hover,
a:active {
  color: rgba(0, 0, 16, 0.8);
  text-decoration: none;
}
a:hover,
a:active {
  border-bottom: 0.1em solid rgba(0, 0, 16, 0.8);
  color: rgba(0, 0, 16, 0.8);
  text-decoration: none;
}       
span {
    color: rgba(0, 0, 16, 0.4);
    font-size: 70%;
  }

.rating-text p {
  color: rgba(0, 0, 16, 0.8);
  font-size: 1.3rem;
  padding: 0.3rem;
}

.rating {
  background-color: rgba(0, 0, 16, 0);
  padding: 0.4rem 0.4rem 0.1rem 0.4rem;
  border-radius: 2.2rem;
}

.rating svg {
  fill: rgb(242, 242, 242);
  height: 2rem;
  width: 2rem;
  margin: 0.2rem;
}

.rating-form-2 svg {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
}

#radios label {
  position: relative;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}   
input[type="radio"] + svg {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  input + svg {
    cursor: pointer;
  }
  
  input[class="super-happy"]:hover + svg,
  input[class="super-happy"]:checked + svg,
  input[class="super-happy"]:focus + svg {
    fill: rgb(0, 109, 217);
  }
  
  input[class="happy"]:hover + svg,
  input[class="happy"]:checked + svg,
  input[class="happy"]:focus + svg {
    fill: rgb(0, 204, 79);
  }
  
  input[class="neutral"]:hover + svg,
  input[class="neutral"]:checked + svg,
  input[class="neutral"]:focus + svg {
    fill: rgb(232, 214, 0);
  }
  
  input[class="sad"]:hover + svg,
  input[class="sad"]:checked + svg,
  input[class="sad"]:focus + svg {
    fill: rgb(229, 132, 0);
  }
  
  input[class="super-sad"]:hover + svg,
  input[class="super-sad"]:checked + svg,
  input[class="super-sad"]:focus + svg {
    fill: rgb(239, 42, 16);
  }
  