{% extends 'user/base.html' %}
{% block title %}
Zenia
{% endblock title %}
{% load static %}
{% block 'body' %}


<div aria-live="polite" aria-atomic="true" class="toast-container position-fixed  end-0 p-3 mt-70" id="toastPlacement" style="z-index: 1000;">
  {% for message in messages %}
    <div class="toast align-items-center text-white bg-{{ message.tags }} border-0 pe-3" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          {{ message }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

  <style>
    .box-account{
        margin-top:70px;
        margin-bottom: 50px;
    }
  </style>
  <div class="container box-account">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="box-account">                
                <div class="box-account-wrapper"><a class="btn-close-popup btn-close-popup-account" href="#">
                    
                  <div class="form-account-info"><a class="button-tab btn-for-login active" href="/user_login">Login</a><a class="button-tab btn-for-signup" href="/user_signup">Sign up</a>
                    <form method="POST" action="{% url 'user_login' %}">
                      {% csrf_token %}
                    <div class="form-login">
                      <div class="form-group">
                        {{lform.email}}
                      </div>
                      <div class="form-group">
                        {{lform.password}}
                        {% if lform.password.errors %}
                          <span class="text-danger">{{ lform.password.errors.0 }}</span>
                        {% endif %}
                      </div>
                      <div class="form-group">
                        <a class=" me-3 -medium-dark" href="{% url "user_recover_password" %}">Forgot your password?</a>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-black d-block">Login</button>
                      </div>
                    </div>
                    </form>
                    
                    
                </div>
            </div>
        </div>
         <div class="col-md-4"></div>
    </div>
  </div>
  

  {% endblock %}


