{% extends 'user/base.html' %}
{% load static %}
{% block 'title' %}
zenia
{% endblock 'title' %}
{% block 'body' %}


<div aria-live="polite" aria-atomic="true" class="toast-container position-fixed  end-0 p-3 mt-70" id="toastPlacement" style="z-index: 1000;">
  {% for message in messages %}
    <div class="toast align-items-center text-white bg-{{ message.tags }} border-0 pe-3" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          {{ message }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>  


  <main class="main">
    <section class="section block-banner-shop" style="background-image:url('{% static 'assets/imgs/banner/shop-banner.jpg' %}') ; " > 
      <div class="container"> 
        <h1 class="text-56-medium">Shop</h1>
        <div class="breadcrumbs"> 
          <ul> 
            <li> <a href="/">Home </a></li>
            <li> <a href="#">Shop</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section block-content-shop">
      <div class="container">
        <div class="shop-top-filter row">
            <form action="{% url 'search' %}" class="form-inline">
                <div class="form-group d-flex col-9 col-md-8 p-2">
                    <input class="form-control search-icon" type="text" placeholder="Search..." name="keyword" required>
                    <button type="submit" class="btn btn-black">Search</button>
            </form>

                    <div class="col-md-4 col-3">
                    <div class="box-sort"> 
                      <div class="box-sortby d-flex align-items-center">
                        <div class="dropdown dropdown-sort">
                          <button class="btn dropdown-toggle" id="dropdownSort" type="button" data-bs-toggle="dropdown" aria-expanded="false">Default Sorting</button>
                          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort" style="margin: 0px;">
                            <a class="dropdown-item " href="{% url 'user_sort' id='0' %}"><li>Price low to High</li></a>
                            <a class="dropdown-item " href="{% url 'user_sort' id='1' %}"><li>Price High to low</li></a>
                            <li><a class="dropdown-item" href="#"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="box-view-style"> 
                        <a class="view-type view-2" href="#" data-col="2"></a>
                        <a class="view-type view-3 active" href="#" data-col="3"></a>
                        <a class="view-type view-4" href="#" data-col="4"></a>
                        <a class="view-type view-5" href="#" data-col="5"></a>
                      </div>
                    </div>
                  </div>

                </div>
    
            {% comment %} <div class="right-filter">
                <div class="box-filter-top">
                    <div class="number-product">
                    </div>
                    <div class="box-sort">
                        <div class="box-sortby d-flex align-items-center">
                        </div>
                        <div class="box-view-style">
                            <a class="view-type view-2" href="#" data-col="2"></a>
                            <a class="view-type view-3 active" href="#" data-col="3"></a>
                            <a class="view-type view-4" href="#" data-col="4"></a>
                            <a class="view-type view-5" href="#" data-col="5"></a>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
    

      <div class="container">
        
        <div class="box-list-products box-list-products-4 box-list-products-shop-2">
            {% for product in products %}
            {% if not product.soft_deleted and not product.category.soft_deleted %}
          <div class="product-item">
            <div class="cardProduct wow fadeInUp">
              <div class="cardImage"><a href="{% url 'user_product_detail' id=product.id %}" ><img class="imageMain" src="{{ product.product_images.url }}" alt="guza"><img class="imageHover" src="{{ product.product_images_1.url }}" alt="guza"></a>
                <div class="button-select"><a href="{% url 'user_product_detail' id=product.id %}">View Details</a></div>
                <div class="box-quick-button">
                  
                  
                  
                  </div>
              </div>
              <div class="cardInfo"><a href="#">
                  <h6 class="text-16-medium cardTitle">{{product.product_name}}</h6></a>
                <p class="body-p2 ">₹{{product.price}}</p>
                
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}

        </div>
        <div class="text-center mt-50">
        {% if products.has_other_pages %}
          <nav class="box-pagination">
            <ul class="pagination">
                {% if products.has_previous %}
              <li class="page-item"><a class="page-link page-prev" href="?page={{ products.previous_page_number }}">
                  <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
                  </svg></a>
               </li>
              
               {% endif %}
               {% for i in products.paginator.page_range %}

                    {% if products.number == i %}
                    <li class="page-item"><a class="page-link active" href="?page={{ i }}">{{ i }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
 
               {% endfor %}

              
              {% if products.has_next %}
              <li class="page-item"><a class="page-link page-next" href="?page={{ products.next_page_number }}">
                  <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                  </svg></a>
                </li>
                
                {% endif %}
            </ul>
          </nav>
          {% endif %}
        </div>
      </div>
    </section>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>

      
              {% comment %} </div>
              <div class="col-lg-3 primary-sidebar sticky-sidebar">
                  <div class="row">
                      <div class="col-lg-12 col-mg-6"></div>
                      <div class="col-lg-12 col-mg-6"></div>
                  </div>
                  <div class="widget-category mb-30">
                      <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                      <ul class="categories">
                          {% for category in categories %}
                          {% if not category.soft_deleted %}
                          <li><a href="">{{category.category_name}} </a></li>
                          {% endif %}
                          {% endfor %}
                      </ul>
                  </div>
                   {% endcomment %}
                
{% endblock %}