.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(248, 242, 255), rgb(150, 150, 150));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(226, 226, 226), rgb(228, 228, 228))
    }   

.btn-remove {
    position: absolute;
    top: -20px;
    right: 0px;
    z-index: 12;
    height: 12px;
    width: 12px;
    background: url(../imgs/template/icons/close-cart.svg) no-repeat center;
  }